body>header:first-of-type {
  text-align: center;
  background-color: #4056A1;
}

.profile-image {
  background-color: #4056A1;
  text-align: center;
  padding-top: 120px;
  /* position: fixed; */
  position: sticky;
}

.profile-image h2 {
  margin: 0;
  padding: 1.5rem 0;
  color: #FFFFFF;
}