nav {
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 10000;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  top: 0;
}

nav span {
  margin: 1.5em;
}

.left {
  float: left;
}

.name {
  color: white;
}

.right {
  float: right;
}

@media (max-width: 525px) {
  .right {
    position: absolute;
  }
}