.tweet {
  background-color: #f4f1ec;
  width: 100%;
}

.tweet > header {
  display: flex;
  align-items: center;
}

.counter {
  float: right;
  font-family: 'Bungee', sans-serif;
  margin-top: 5px;
}

/* char limit error message hidden by default */
/* see client.js for jquery effect to unhide error message */
.error {
  color: red;
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
  display: none;
  font-weight: lighter;
}

.new-tweet {
  width: 100%;
}

.new-tweet textarea {
  width: 100%;
}

.over-char-limit {
  color: red;
}

.tweet-button {
  background-color: #4056A1;
  border: none;
  border-radius: 2px;
  padding: 0.8rem 1.5rem;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #000000;
  transition: all 150ms;
  outline: none;
}

.tweet-button:active {
  transform: translate(-3px, 2px);
  box-shadow: none;
}

#new-tweet-form {
  display: none;
}

#tweet-text {
  background-color: transparent;
  border: 0px solid;
  border-bottom:solid;
  height: 50px;
  padding-top: 18px;
  resize: none;
  outline: none;
}