.counter {
  float: right;
  font-family: 'Bungee', sans-serif;
  margin-top: 5px;
}

/* char limit error message hidden by default */
/* see client.js for jquery effect to unhide error message */
.error {
  color: red;
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
  display: none;
  font-weight: lighter;
}

.new-tweet {
  width: 100%;
}

.new-tweet textarea {
  width: 100%;
}

.over-char-limit {
  color: red;
}

.tweet-button {
  background-color: #4056A1;
  border: 0px;
  color: white;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  padding: 4px;
}

#new-tweet-form {
  display: none;
}

#tweet-text {
  background-color: transparent;
  border: 0px solid;
  border-bottom:solid;
  height: 50px;
  padding-top: 18px;
  resize: none;
}