textarea {
  width: 100%;
}

.tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  color: white;
  padding: 4px;
  margin-top: 5px;
  border: 0px;
}

.new-tweet-form {
  position: relative;
}

.new-tweet {
  width: 100%;
}

.counter {
  font-family: 'Bungee', sans-serif;
  float: right;
  margin-top: 5px;
}

.error {
  color: red;
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
  visibility: hidden;
  font-weight: lighter;
}

.error-exists {
  visibility: visible;
}

.over-char-limit {
  color: red;
}

#tweet-text {
  background-color: transparent;
  border: 0px solid;
  border-bottom:solid;
  height: 50px;
  resize: none;
  padding-top: 18px;
}