.handle {
  opacity: 50%;
  position: absolute;
  right: 2em;
  top: 1em;
  display: none;
}

.scroll-top {
  bottom: 0;
  color: gray;
  display: none;
  font-size: 50px;
  margin: 0.5em;
  position: fixed;
  right: 0;
  z-index: 1000;
  text-shadow: -5px 2px 5px;
  cursor: pointer;
  transition: all 150ms;
}

.scroll-top:hover {
  text-shadow: none;
  transform: translate(-5px, 2px);
}

#tweets {
  margin: 0 auto;
  padding: 0 2rem;
}

#tweet-container {
  margin: 1rem auto;
  /* width: 90%; */
}

#tweet-container article {
  border: solid;
  margin-bottom: 1em;
  position: relative;
  transition: all 350ms;
}

#tweet-container article:hover {
  box-shadow: 0.5rem 0.5rem rgba(146, 128, 194, 0.596);
  text-shadow: 1px 1px;
}

#tweet-container article:hover .handle {
  display: block;
}

#tweet-container header {
  padding: 1.5em;
}

#tweet-container footer {
  border-top: solid;
  font-size: 1rem;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
  top: 25px;
  width: 95%;
}

#tweet-container p {
  margin-bottom: 0;
  margin-left: 3%;
}

#tweet-container .tweet-icons {
  float: right;
  font-size: 25px;
  margin-top: 0;
  display: none;
}

#tweet-container .tweet-icons span:hover {
  font-size: 25px;
  color: red;
  margin-top: 0;
  cursor: pointer;
}

#tweet-container article:hover .tweet-icons {
  display: block;
}
  
#tweet-container span {
  margin: auto 0.2em;
}